.fondocss {
    position: fixed;
    top:0;
    left: 0;
    min-width: 100%;
    min-height: 100%;
    z-index: 0
    }

#borde_radio{
    border-radius: 100px 50px;
}

#borde-cuadro{
    border-radius: 150px ;
}